/* Typing Animation */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* navbar */
.nav-wrapper{
  background-color: #ffffff;
}
.button-collapse i{
  color: black;
}
nav ul li a{
  color: black;
}

/* hero */
#hero{
  height: 445px;
}
#hero-text-container{
  margin-top: 125px;
}

/* about me */
.justin{
  height: 250px !important;
}
